# use glob syntax.
syntax: glob
*.*.gz
*.aux
*.bbl
*.bcf
*.blg
*.cmi
*.cmx
*.cmxs
*.dvi
*.glob
*.key
*.log
*.nav
*.numbers
*.o
*.out
*.pdf
*.snm
*.toc
*.vo
*.vok
*.vos
*.vrb
*.xcworkspace
.DS_Store
.\#*
.depend
.lia.cache
CONFIGURE
\#*\#
_CoqProject
final
poster.run.xml
project.pbxproj
xcschememanagement.plist
CertiGC/gc.v
