# use glob syntax.
syntax: glob
msl/*
compcert/*
*.vo
*.glob
.depend
_CoqProject
*.aux
*.bbl
*.blg
*.log
*.out
*.dvi
CONFIGURE
.DS_Store
*.xcworkspace
project.pbxproj
xcschememanagement.plist
*.o
final
*.nav
*.snm
*.vrb
*.toc
*.pdf
poster.run.xml
*.bcf
*.vok
*.vos
.lia.cache
\#*\#
*.numbers
.\#*
*.key
sumlist.c
sumlist.v
*.*.gz
