# use glob syntax.
syntax: glob
*.*.gz
*.aux
*.bbl
*.bcf
*.blg
*.cmi
*.cmx
*.cmxs
*.dvi
*.glob
*.key
*.log
*.nav
*.numbers
*.o
*.out
*.pdf
*.snm
*.toc
*.vo
*.vok
*.vos
*.vrb
*.xcworkspace
.DS_Store
.\#*
.depend
.lia.cache
CONFIGURE
\#*\#
_CoqProject
final
poster.run.xml
project.pbxproj
xcschememanagement.plist
CertiGC/gc.v
append/append.v
binheap/binary_heap.v
binheap/binary_heap_pro.v
copy/copy_bi.v
dijkstra/dijkstra1.v
dijkstra/dijkstra2.v
dijkstra/dijkstra3.v
dispose/dispose_bi.v
kruskal/kruskal_edgelist.v
mark/mark_bi.v
prim/noroot_prim.v
prim/prim1.v
prim/prim2.v
prim/prim3.v
priq/priq_arr.v
summatrix/summatrix.v
unionfind/unionfind.v
unionfind/unionfind_arr.v
unionfind/unionfind_iter.v
